In [8]:
a, b = 10, 3

#pertambahan
print(a+b)

#perkurangan
print(a-b)

#divisi
print(a*b)

#perkalian
print(a/b)

#modulus
print(a%b)

#eksponen
print(a**b)

#floor
print(a//b)

13
7
30
3.3333333333333335
1
1000
3

In [14]:
a = 10
print('a = 10 ->', a)

a += 5
print('a += 5 ->', a)

a -= 3
print('a -= 3 ->', a)

a *= 6
print('a *= 6 ->', a)

a /= 8
print('a /= 8 ->', a)

a = 10 -> 10
a += 5 -> 15
a -= 3 -> 12
a *= 6 -> 72
a /= 8 -> 9.0

In [20]:
#latihan

print (5*2**2+10/20)

20.5

In [23]:
a, b = 5, 10

print(a, '>', b, '=', a > b)
print(a, '<', b, '=', a < b)
print(a, '==', b, '=', a == b)

5 > 10 = False
5 < 10 = True
5 == 10 = False

In [59]:
#latihan
a, b = 400, 100

print('400 < 100 =', 400 < 100)
print('10 * 2 = 20', 10*2==20)
print('50 > 10 =', 50 > 10)
print('50 * 2 != 100', 50*2!=100)
print('2x3x4 >= 24', 2*3*4>=24)

400 < 100 = False
10 * 2 = 20 True
50 > 10 = True
50 * 2 != 100 False
2x3x4 >= 24 True

In [48]:
#operator logika

a < 16 and b < 32 

nilai_1 = True
nilai_2 = False
nilai_3 = True
print("nilai_1 and nilai_2 =" + str(nilai_1 and nilai_2))

nilai_1 and nilai_2 =False

In [57]:
#latihan

murah = True
diskon = True


print("murah and diskon ="+ str(murah and diskon))
print("tidak laku =", str(not murah))

murah and diskon =True
tidak laku = False

In [67]:
a = 5
b = 5
list_a = (1, 2, 3)
list_b = (1, 2, 3)
nama_a = 'budi'
nama_b = 'budi'

#output True
print('a is b:', a is b)
#output False
print('a is not b:', a is not b)

#output False
print('list_a is list_b', list_a is list_b)
#output True
print('list_a == list_b:', list_a == list_b)

#output True
print('nama_a is nama_b:', nama_a is nama_b)
#ouput False
print('nama_a is not nama_b:', nama_a is not nama_b)

a is b: True
a is not b: False
list_a is list_b False
list_a == list_b: True
nama_a is nama_b: True
nama_a is not nama_b: False

In [80]:
#latihan lagi

perusahaan = 'Mobile legend'
list_pulau = ('jawa', 'Sumatra', 'Sulawesi')

mahasiswa ={
    'nama': 'Tri hartanto',
    'asal': 'Nagrak'
}

print(
    "apakah 'M' ada di variabel perusahaan?",
    'M' in perusahaan
)
print(
    "apakah 'e' ada di variabel perusahaan?",
    'e' not in perusahaan)
print(
    "apakah 'tri' ada di variabel mahasiswa?",
    'tri' in mahasiswa)

apakah 'M' ada di variabel perusahaan? True
apakah 'e' ada di variabel perusahaan? False
apakah 'tri' ada di variabel mahasiswa? False

In [90]:
#biner dari angka 0
print(format(0, '08b'))
0

#biner dari angka 1
print(format(1, '08b'))
1

#biner dari angka 2
print(format(2, '08b'))
10

#biner dari angka 37
print(format(37, '08b'))
100101

00000000
00000001
00000010
00100101

100101

In [92]:
#latihan terakhir hari ini
#biner dari huruf H
print('huruf h =', format(104, '08b'))

#biner dari huruf E
print('huruf e =', format(101, '08b'))

#biner dari huruf L
print('hururf l =', format(80, '08b'))

#biner dari huruf L
print('huruf l =', format(80, '08b'))

#biner dari huruf O
print('huruf o =', format(111, '08b'))

huruf h = 01101000
huruf e = 01100101
hururf l = 01010000
huruf l = 01010000
huruf o = 01101111